@model List<ResultAboutDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="pagetitle">
    <h1>@ViewData["Title"]</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Admin</li>
            <li class="breadcrumb-item ">About</li>
            <li class="breadcrumb-item active"><a asp-action="Index">Index</a></li>
        </ol>
    </nav>
</div> 
<hr />
<p><a asp-action="CreateAbout">Create New</a></p>

<section class="section">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Datatables</h5>
                    <!-- Table with stripped rows -->
                    <table class="table datatable">
                        <thead>
                            <tr>
                                 
                                <th>IMAGE</th>
                                @* <th>IMAGE 2</th> *@
                                <th>Item 1</th>
                                <th>Item 2 </th>
                                <th>Item 3</th>
                                <th>Item 4</th>
                                <th>Status</th>
                                <th>Modiffier</th>
                                <th>Detail</th>
                                <th>Supprimer</th> 
                                <th>Export</th> 
                            </tr>
                        </thead>
                        <tbody> 
                            @foreach (var item in Model) {
                                <tr data-index="0">
                                     
                                    <td><img src="~/AdminTemplate/assets/AboutsPicture/@item.ImageUrl1" style="width:75px;height:75px" /></td>
                                    @* <td><img src="~/AdminTemplate/assets/AboutsPicture/@item.ImageUrl2" style="width:75px;height:75px" /></td> *@
                                    <td>@item.Item1</td>
                                    <td>@item.Item2</td>
                                    <td>@item.Item3</td>
                                    <td>@item.Item4</td>
                                    @if(item.IsActived == true)
                                    {
                                        <td class="green"><span class="badge bg-success">Activer</span>
                                            <a asp-action="AboutStautsIsFalse" asp-controller="About" asp-area="Admin" asp-route-id="@item.Id" class="btn btn-outline-secondary">Desactiver</a>
                                        </td>
                                    }
                                    else
                                    { 
                                        <td class="green"><span class="badge bg-danger">Non activer</span>
                                            <a asp-action="AboutStautsIsTrue" asp-controller="About" asp-area="Admin" asp-route-id="@item.Id" class="btn btn-outline-secondary">Activer</a>
                                        </td>
                                    }
                                    <td> <a asp-action="UpdateAbout" asp-controller="About" asp-area="Admin" asp-route-id="@item.Id" class="btn btn-outline-primary">Edite</a> </td>
                                    <td> <a asp-action="Details" asp-controller="About" asp-area="Admin" asp-route-id="@item.Id" class="btn btn-outline-primary">Detail</a> </td>
                                    <td> <a asp-action="DeleteAbout" asp-controller="About" asp-area="Admin" asp-route-id="@item.Id" class="btn btn-outline-danger">Delete</a> </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <!-- End Table with stripped rows -->
                </div>
            </div>
        </div>
    </div>
</section>



