@* @model EBS.WebUI.DTOs.ProductDtos.CreateProductDto *@
@model CreateProductDto
@{
    ViewData["Title"] = "CreateProduct";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>CreateProduct</h1>

<h4>CreateProductDto</h4>
<hr />
<section class="content">
    <div class="container-fluid">
        <div class="card card-default">
            <div class="card-header">
                <h3 class="card-title">@ViewData["Title"] </h3>
            </div>
            <div class="card-body">
                <form asp-action="CreateProduct" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                     
                    <div class="row">
                        <div class="col-2">
                            <label asp-for="SubCategoryId" class="control-label"></label>
                            <select asp-items="@ViewBag.SubCategorySelectItem" asp-for="SubCategoryId" class="form-control">
                                <option>Categorie</option>
                            </select>
                            <span asp-validation-for="SubCategoryId" class="text-danger"></span>
                        </div>
                        <div class="col-2">
                            <label asp-for="PurchaseOrderId" class="control-label"></label>
                            <select asp-items="@ViewBag.purchaseOrderSelectItem" asp-for="PurchaseOrderId" class="form-control">
                                <option>Bon de Commande</option>
                            </select>
                            <span asp-validation-for="PurchaseOrderId" class="text-danger"></span>
                        </div>
                        <div class="col-2">
                            <label asp-for="BrandId" class="control-label"></label>
                            <select asp-items="@ViewBag.BrandSelectItem" asp-for="BrandId" class="form-control">
                                <option>Marque du Produit</option>
                            </select>
                            <span asp-validation-for="BrandId" class="text-danger"></span>
                        </div>
                        <div class="col-2">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="col-2">
                            <label asp-for="Quantity" class="control-label"></label>
                            <input asp-for="Quantity" class="form-control" />
                            <span asp-validation-for="Quantity" class="text-danger"></span>
                        </div>
                        <div class="col-2">
                            <label asp-for="SizeOfProduct" class="control-label"></label>
                            <input asp-for="SizeOfProduct" class="form-control" />
                            <span asp-validation-for="SizeOfProduct" class="text-danger"></span>
                        </div>
                        <div class="col-2">
                            <label asp-for="colorOfProduct" class="control-label"></label>
                            <input asp-for="colorOfProduct" class="form-control" />
                            <span asp-validation-for="colorOfProduct" class="text-danger"></span>
                        </div> 
                        <div class="col-2">
                            <label asp-for="MaxThreshold" class="control-label"></label>
                            <input asp-for="MaxThreshold" class="form-control" />
                            <span asp-validation-for="MaxThreshold" class="text-danger"></span>
                        </div>
                        <div class="col-2">
                            <label asp-for="MinThreshold" class="control-label"></label>
                            <input asp-for="MinThreshold" class="form-control" />
                            <span asp-validation-for="MinThreshold" class="text-danger"></span>
                        </div>
                        <div class="col-2">
                            <label asp-for="ShortDescription" class="control-label"></label>
                            <textarea asp-for="ShortDescription" class="form-control" rows="5"></textarea>
                            <span asp-validation-for="ShortDescription" class="text-danger"></span>
                        </div>
                        <div class="col-2">
                            <label asp-for="LongDescription" class="control-label"></label>
                            <textarea asp-for="LongDescription" class="form-control" rows="10"></textarea>
                            <span asp-validation-for="LongDescription" class="text-danger"></span>
                        </div>
                        <div class="col-2">
                            <label asp-for="ImageUrl" class="control-label"></label>
                            <input asp-for="ImageUrl" class="form-control" />
                            <span asp-validation-for="ImageUrl" class="text-danger"></span>
                        </div>
                    </div>
             
                    <div class="row">
                        <div class="col-6 mt-2">
                            <input type="submit" value="ENREGISTRE" class="btn btn-primary" /> <br />
                        </div>
                        <div class="col-5">
                            <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                <input asp-for="IsActived" type="checkbox" class="custom-control-input" id="customSwitch3">
                                <label class="custom-control-label" for="customSwitch3">@Html.DisplayNameFor(model => model.IsActived)</label>
                            </div>
                        </div>
                        <div class="col-5">
                            <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                <input asp-for="Review" type="checkbox" class="custom-control-input" id="customSwitch3">
                                <label class="custom-control-label" for="customSwitch3">@Html.DisplayNameFor(model => model.Review)</label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer"> <a asp-action="Index">Back to List</a></div>
        </div><!--./card card-default -->
    </div><!--./container-fluid -->
</section>